*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
body{
    background-image: url(nature.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
div{
    height: 287px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parallax > h1{
    background-color: transparent;
    box-shadow: 4px 4px 4px 4px;
    color: aliceblue;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    font-weight: 10;
}
.one, .two,.three {
    display: flex;
    flex-direction: column;
}
.one > h2, .two > h2, .three > h2{
    height: 50px;
    display: flex;
    color: #ffda79;
    align-items: center;
    padding: 0px 5px;
    font-weight: 5;
}
.one{
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    color: aliceblue;
    padding: 20px;
}
.one > p, .two > p, .three > p{
    padding: 10px;
}
.nature >  h1{
    background-color: transparent;
    box-shadow: 4px 4px 4px 4px;
    color: aliceblue;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    font-weight: 10;
}
.two{
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    color: aliceblue;
    padding: 20px;
}
.look > h1{
    background-color: transparent;
    box-shadow: 4px 4px 4px 4px;
    color: aliceblue;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    font-weight: 10;
}
.three{
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    color: aliceblue;
    padding: 20px;
}
.ending > h1{
    background-color: transparent;
    box-shadow: 4px 4px 4px 4px;
    color: aliceblue;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    font-weight: 10;
}

